# https://docs.travis-ci.com/user/languages/javascript-with-nodejs/
language: node_js
node_js:
  - "lts/*"
env:
  - BROWSER=slChrome
  - BROWSER=slFirefox
  #- BROWSER=slSafari
  - BROWSER=slIE
  - BROWSER=
matrix:
allow_failures:
  - env: BROWSERS=slIE
cache: npm
install: |
  if [ "${BROWSER}" = "" ]
    then npm install -g nyc codecov
  fi
  npm ci
script: |
  if [ "${BROWSER}" = "" ]
    then npm run test:cover
  else
    npm run test:browser:saucelabs -- --browsers "$BROWSER"
  fi
after_success: |
  if [ "${BROWSER}" = "" ] ; then
    then nyc report --reporter=json > coverage/coverage.json && codecov
  fi
